.RoleSelector {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.RoleSelector__form {
  width: 100%;
  max-width: 40rem;
}

.RoleSelector__form button {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border-width: 2px;
  font-size: 1.5rem;
  background-color: var(--dark_1);
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.RoleSelector__form button:hover,
.RoleSelector__form button:focus {
  background-color: var(--dark_2);
}

.RoleSelector__form button:active {
  background-color: var(--dark_3);
  transform: scale(0.98);
}

@media (orientation: landscape) {
  .RoleSelector {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}