.RoleSelector__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.RoleSelector {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.RoleSelector__form {
  width: 100%;
  max-width: 40rem;
}

.RoleSelector__form button {
  width: 100%;
  font-size: 1.5rem;
}

@media (orientation: landscape) {
  .RoleSelector {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}